<header class="header">
	<div class="header-container">
		<div class="nav">
			<li>
				<a href="/"><img width="48px" height="48px" src="/images/android-icon-48x48.png"/></a>
			</li>
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/">home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/">home</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/archive">archive</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/archive">archive</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/category">category</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/category">category</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about">about</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about">about</a>
				</li>			
			{% endif %}
		</div>
		<div class="description"> {{ site.motto }} </div>		
		<ul class="social-links">
			<li>
				<a href="https://github.com/{{ site.github_username }}" title="Github">
					<img width="19px" height="19px" src="/images/github.png"/>
				</a>
			</li>
			<li>
				<a href="/feed.xml" title="RSS">
					<img width="19px" height="19px" src="/images/rss.png"/>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
					<img width="19px" height="19px" src="/images/twitter.png"/>
				</a>
			</li>
			<li>
				<a href="https://uk.linkedin.com/in/{{ site.linkedin_username }}" title="Linked In">
					<img width="19px" height="19px" src="/images/linked-in.png"/>
				</a>
			</li>
			<li>
				<a href="mailto:paul@nebel.io" target="_blank" title="Email">
					<img width="19px" height="19px" src="/images/email.png"/>
				</a>
			</li>
		</ul>		
	</div>
</header>
