---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Local theme changes
$background-color: #1b2E59 !default;
$text-color: #f2f2f2 !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.center-image { padding: 20px 0px; margin: 0 auto; display: block; } 
.med-image { max-height: 400px; }
.author__avatar img { border-radius: 0px !important; }

.camera-icon { fill: transparent; stroke: #8cd2d5; stroke-width: 2px; width: 2rem; height: 1.25rem }

figcaption { font-family: Roboto, Helvetica, sans-serif !important }

.greedy-nav a, .author__urls a, .social-icons a {
    color: #f2f2f2 !important;
}

.greedy-nav a:hover {
    color: #D4af37 !important;
}

.greedy-nav a::before {
    color: #61ABB3 !important;
}

a, .search__toggle, .greedy-nav__toggle {
    color: #61ABB3;
}

.navicon, .navicon:before, .navicon:after {
    background: #61ABB3;
}

a:visited {
    color: #91d6da;
}

.feature__wrapper {
    border-bottom: 0px;
    margin-bottom: 1em;
}

.notice {
    color: #fbf2e6;
    background-color: #496079;
}

.page__content .archive__item-title {
    margin-top: 0.5em;
}

.page__hero--overlay {
    padding: 1em 0 0 0;
    margin-bottom: 1em;
}

table {
    display: table;
    font-size: 1em;
}

.feature__item--center .archive__item-body {
    width: 80%;
}

.page__hero--overlay .page__lead {
    max-width: 1024px;
}
